html,body{
    /*font-family: 'Titillium Web', sans-serif;*/
    font-family: 'Anonymous Pro', sans-serif;
    color: white;

}
a{
    text-decoration: none;
    color: white;
    -webkit-transition: all .23s linear;
    transition: all .23s linear
}

.bg-vid,.blackout{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    overflow: hidden;
}
.bg-vid{
    z-index: -2;
}
.blackout{
    z-index: -1;
    height: 100%;
    opacity: .8;
    background-color: black;
}



.content{
    margin: 40px 0;
    text-align: center;
}

    .content .head-1 {
        font-size: 48px;
    }

        .content .head-1 .who:after {
            content: '|';
            color: #CF000F;
            display: inline-block;
            -webkit-animation: caret .75s infinite;
        }

        @-webkit-keyframes caret{
            from{opacity: 0;}
            to{opacity: 1;}
        }
        @-moz-keyframes caret{
            from{opacity: 0;}
            to{opacity: 1;}
        }
        @keyframes caret{
            from{opacity: 0;}
            to{opacity: 1;}
        }


.contacts-list .item{
    color: white;
    font-size: 48px;
    display: inline-block;
    margin: 30px 15px 0;
}
.contact:before{
    -webkit-transition: all .23s linear;
    transition: all .23s linear;
}
.contact:hover:before, .contact:focus:before, .contact:active:before {
    color: black;
    text-shadow: 0 0 30px white;
}

.portfolio-list .item .desc{
    font-size: 14px;
}

.skills-list .item, .portfolio-list .item{
    margin: 15px 0;
    font-size: 18px;
}


.skills-list .item a, .portfolio-list .item a{
    color: #CF000F;
}

.skills-list .item.icon-gulp {
    margin: -10px 0 15px;
}


.skills-list .item a:hover, .portfolio-list .item a:hover{
    color: black;
    text-shadow: 0 0 1px white;
}

.head-2{
    margin-top: 40px;
    font-size: 32px;
    display: inline-block;
    border-bottom: 1px solid #CF000F;
}