html,body{
    overflow: hidden;
    /*font-family: 'Titillium Web', sans-serif;*/
    font-family: 'Anonymous Pro', sans-serif;
    color: white;

}
a{
    text-decoration: none;
    color: white;
    -webkit-transition: color .33s
}


.bg-vid,.blackout{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    overflow: hidden;
}
.bg-vid{
    z-index: -2;
}
.blackout{
    z-index: -1;
    height: 100%;
    opacity: .8;
    background-color: black;
}



.content{
    margin-top: 40px;
    text-align: center;
}

    .content h1 {
        font-size: 48px;
    }

        .content h1 .who:after {
            content: '|';
            display: inline-block;
            -webkit-animation: caret .75s infinite;
        }

        @-webkit-keyframes caret{
            from{opacity: 0;}
            to{opacity: 1;}
        }
        @-moz-keyframes caret{
            from{opacity: 0;}
            to{opacity: 1;}
        }
        @keyframes caret{
            from{opacity: 0;}
            to{opacity: 1;}
        }

    .evil-dev{
        position: relative;
    }

    .icon-devil:before{
        position: absolute;
        right: 80px;
        top: 17px;
        /*font-size: 22px;*/
        font-size: 0;
    }

.contacts-list .item{
    color: white;
    font-size: 48px;
    display: inline-block;
    margin: 15px;
}
.contact:before{
    -webkit-transition: color .33s ease-out;
    transition: color .33s ease-out;
}
.contact:hover:before, .contact:focus:before, .contact:active:before {
    color: black;
    text-shadow: 0 0 30px white;
}